:root{
--lila:#b79ad6;
--lila-suave:#e9e2f3;
--lila-oscuro:#8e6bbf;
--blanco:#ffffff;
--gris-suave:#faf9fc;
--texto:#444;
--cremita: #fcf9f2;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:linear-gradient(to bottom,var(--lila-suave),var(--gris-suave));
color:var(--texto);
}

/* NAV */

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
position:absolute;
top:0;
left:0;
width:100%;
z-index:100;
background:transparent;
}

.logo img{
height: 180px;
width:auto;
object-fit:contain;
position: center;
}

nav a{
margin:0 15px;
text-decoration:none;
color:white;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:var(--lila);
}

/* HERO */

.hero{
height:100vh;
background:url('../assets/images/hero.jpg') center/cover no-repeat;
display:flex;
justify-content:center;
align-items:center;
position:relative;
}

.hero::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:linear-gradient(
to bottom,
rgba(0,0,0,.45),
rgba(0,0,0,.25)
);
}

.hero-overlay{
position:relative;
padding:60px;
text-align:center;
color:white;
border-radius:10px;
}

.hero h1{
font-family:'Playfair Display';
font-size:60px;
letter-spacing:2px;
}

.hero span{
color:var(--lila);
}


/* COUNTDOWN PREMIUM */

.countdown{
text-align:center;
padding:120px 20px;
background:linear-gradient(180deg,#f6f2fb,#ffffff);
position:relative;
}

/* titulo */

.countdown h2{
font-family:'Playfair Display';
font-size:42px;
color:var(--lila-oscuro);
margin-bottom:50px;
letter-spacing:2px;
position:relative;
}

/* linea elegante bajo titulo */

.countdown h2::after{
content:"";
display:block;
width:80px;
height:2px;
background:var(--lila);
margin:15px auto 0;
}

/* contenedor */

.countdown-container{
display:flex;
justify-content:center;
gap:35px;
flex-wrap:wrap;
}

/* tarjetas */

.countdown-container div{
background:rgba(255,255,255,.65);
backdrop-filter:blur(8px);
padding:40px 35px;
border-radius:20px;
min-width:140px;
border:1px solid rgba(183,154,214,.6);
box-shadow:
0 10px 30px rgba(142,107,191,.15),
inset 0 0 0 1px rgba(255,255,255,.6);
transition:all .35s ease;
position:relative;
}

/* efecto hover elegante */

.countdown-container div:hover{
transform:translateY(-8px) scale(1.03);
box-shadow:
0 18px 40px rgba(142,107,191,.25);
}

/* numeros */

.countdown-container span{
font-size:20px;
font-weight:600;
color:var(--lila-oscuro);
display:block;
font-family:'Playfair Display';
}

/* texto */

.countdown-container p{
margin-top:12px;
font-size:13px;
letter-spacing:2px;
text-transform:uppercase;
color:#777;
}


/* TIMELINE */

.timeline{
padding:100px 20px;
text-align:center;
}

.timeline-container{
position:relative;
max-width:900px;
margin:auto;
}

.timeline-item{
display:flex;
align-items:flex-start;
margin:50px 0;
gap:20px;
}

.timeline-icon{
font-size:30px;
background:var(--morado);
color:white;
width:60px;
height:60px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
flex-shrink:0;
}

.timeline-content{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
width:100%;
text-align:left;
}

.timeline-content iframe{
width:100%;
height:250px;
border-radius:10px;
border:0;
margin-top:15px;
}

/* MAP BUTTON */

.map-btn{
display:inline-block;
margin-top:10px;
padding:10px 18px;
background:mediumpurple;
color:rgb(112, 12, 220);
border-radius:25px;
text-decoration:none;
font-size:14px;
transition:.3s;
}

.map-btn:hover{
background:#4a235a;
}

/* INFO */

.info{
padding:80px 20px;
text-align:center;
}

.info-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
margin-top:30px;
}

.info-card{
background:white;
padding:30px;
border-radius:10px;
}

/* GALERIA */

.gallery{
padding:80px 20px;
text-align:center;
}

.carousel{
max-width:800px;
margin:auto;
}

.carousel-img{
width:100%;
border-radius:10px;
display:none;
}

.carousel-img.active{
display:block;
}

/* FOOTER */

footer{
background:var(--morado);
color:white;
text-align:center;
padding:40px;
margin-top:50px;
}

.footer-logo{
height:80px;
margin-bottom:10px;
}

/* ANIMACIONES */

.fade{
animation:fadeUp 1.2s ease;
}

@keyframes fadeUp{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}

/* MOBILE */
@media(max-width:768px){

.header{
padding:15px 20px;
}

.logo img{
height:130px;
}

nav{
position:absolute;
top:80px;
right:0;
background:rgba(0,0,0,.9);
width:200px;
flex-direction:column;
display:none;
padding:20px;
border-radius:10px 0 0 10px;
}

nav a{
display:block;
margin:10px 0;
color:white;
}

nav.active{
display:flex;
}

.menu-btn{
display:block;
color: var(--lila);
}

.hero h1{
font-size:40px;
}

.timeline-item{
flex-direction:column;
align-items:center;
text-align:center;
}

.timeline-content{
text-align:center;
}

}




/* INTRO SOBRE */

#invitation-content{
display:none;
}

.intro-screen{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(180deg,var(--cremita),var(--lila-suave));
transition:opacity .8s;
}

.envelope{
position:relative;
text-align:center;
}

.envelope-img{
width:550px;
max-width:100%;
filter:drop-shadow(0 15px 25px rgba(0,0,0,.2));
}

.seal{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
cursor:pointer;
transition:transform .3s;
}

.seal img{
width:85px;
}

.seal:hover{
transform:translate(-50%,-50%) scale(1.1);
}

.open-text{
margin-top:20px;
font-family:'Playfair Display';
letter-spacing:2px;
color:var(--lila-oscuro);
font-size:18px;
}